.nav-big {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.incanto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 15%;
}

.incanto h1 {
  font-size: 24px;
  margin: 0;
}

.incanto span {
  font-size: 14px;
}

.icon > * {
  margin-right: 10px;
}

span {
  font-size: 16px;
  margin-left: 5px;
}
