* {
  box-sizing: border-box;
}

.container {
  margin: 2% 12%;
}

.left {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.nav-big {
  display: flex;
  column-gap: 16%;
  /* justify-content: space-between; */
  align-items: center;
}

.incanto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.incanto h1 {
  font-size: 60px;
  margin: 0;
}

.incanto span {
  font-size: 14px;
}

.icon {
  display: flex;
  column-gap: 60%;
}

span {
  font-size: 16px;
  margin-left: 5px;
}

.routi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.routi p {
  margin: 0;
  padding: 10px;
}
