* {
  box-sizing: border-box;
}
.slider {
  position: relative;
}
.prevSide {
  position: absolute;
  border: none;
  width: 36px;
  height: 50px;
  background: rgba(255, 255, 255, 0.4);
  top: 40%;
  left: 40px;
}
.nextSide {
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  border: none;
  width: 36px;
  height: 50px;
  top: 40%;
  right: 40px;
}
